@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url("https://use.typekit.net/xxh5fbs.css");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');

.project{
  text-align: left;
  position: relative;
  top: 0em;
  min-width: 30em;
  margin-bottom: 7em;
}

.project-header{
  position: relative; 
  width: 100%;
  margin-bottom: 4em;
}

.project-header img{
  width: 100%;
}

.project-body{
  width: 80%;
  min-width: 30em;
  margin: 0 auto;
}

.project-image-wide img{
  margin-bottom: 4em;
  width: 100%;
}

.project-summary{
  display: inline-grid;
  grid-template-columns: repeat(4,2fr);
}
.project h1{
  font-family: 'playfair display', 'serif';
  font-size: 3em;
}
.project h2{
  font-weight: 700;
  font-size: 2.5em;
}
.project h3{
  font-size: 2em;
  font-weight: 700;
}
.project h4{
  font-size: 1.25em;
}
.project th{
  font-size: 1.5em;
}
.project td{
  max-width:30em;
  text-align: left;
  padding-right: 3em;
  vertical-align: top;
}
.project ul{
  padding-left: 1em;
}
.project li{
  margin-bottom: 1em;
}

.project-links{
  font-size: 2em;
  text-decoration: none;
  font-weight: 700;
  cursor: grab;
  color: rgb(184, 184, 184);
  text-align: right;
}

.project-links a{
  text-decoration: none;
  color: rgb(131, 131, 131);
  transition: 0.5s;
}

.project-links h2{
  font-size: 1em;
}

.project-links a:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.project-gif img{
  height: 470px;
  width: 426px;
  object-fit: cover;
}

.carousel {
  margin-top: 4em;
  margin-bottom: 5em;
  width: 100%;
  margin: 0 auto;
}

.carousel img {
  width: 100%;
  border: 0.9px solid black;
}

body{
  font-size: 16px;
  background: white;
  font-family: 'avenir', 'sans-serif';
  overflow-x: hidden;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.App {
  text-align: center;
}
.App-header {
  position: relative;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: black;
  top: 8em;
  left: 9%;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1{
  font-size: 1em;
  font-weight: 400;  
  padding: 2em;
  margin-right: 50em;
  left: 10em;
}
nav{
  position:fixed;
  right: 5%;
  min-width: 20em;
  top:2em;
  z-index: 100;
}
nav h1{
  position: fixed;
  left: 5em;
  top: 2em;
  font-size: 1em;
  text-transform: capitalize;
  font-family: 'avenir', 'sans-serif';
  font-weight: 400;
  letter-spacing: 2px;
}
nav li{
  display: inline-block;
  cursor: pointer;
}
nav li .link{
  text-decoration: none;
  color: black;
  padding:1em;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: 1;
}
.active{
  color:black;
  opacity: 1;
}
.header-title{
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  text-align: left;
  top:1em;
  position: relative;
}
.header-text{
  position: relative;
  font-family: 'avenir', 'sans-serif';
  font-size: 0.4em;
  display: flex;
  flex-direction: row;
  top: 1em;
  width: 20em;
}
.about{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 10em;
  padding-bottom: 20em;
}
.about-content{
  position: relative;
  left:12em;
}
.about-content h1{
  font-family: 'playfair display', serif;
  font-size: 5em;
  text-align: left;
}
.about-content p{
  font-size: 1.3em;
  text-align: left;
  width: 25em;
}
.about button{
  background: black;
  border: 0px;
  padding: 1em 3em;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  height: 4em;
  margin-top: 4em;
}
.about a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.about img{
  margin-left: 17em;
  margin-top: 2em;
  height: 40em;
  border-radius:1em;
  box-shadow: 10px 10px 20px rgb(219, 219, 219);
}
.work{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  bottom: 4em;
  transition: opacity 0.5s ease-in-out;
}
.work .heading{
  font-family: 'poppins', sans-serif;
  font-size: 5em;
  text-align: left;
}
.work .work-content{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 2em;
}
.thumbnail {
  position: relative;
  /* left: 50%;
  margin-left:-80%; */
}
.thumbnail img{ 
  width: 85%;
  transition: opacity 0.5s ease-in-out;
}
.work img:hover{
  opacity: 0.5;
}
.footer{
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 3em;
  padding-left: 7em;
  padding-top: 0em;
}
.icon{
  position: relative;
  display: inline-grid;
  grid-template-columns: repeat(11,1fr);
  grid-gap: 1.5em;
  color: white;
  text-decoration: none;
  left: 47em;
}
.footer img{
  height: 1em;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){

  body{
    font-size: 6px;
  }
  header h1{
font-size: 5em;  
padding: 1em;
margin-right: 0em;
}

.heading-background{
  display: none;
}
nav{
  display: none;
}
.header-title{
  font-size: 3em;
  text-align: left;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
}
.about img{
  display: none
}
.about-content{
  left:2em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 300px;
}

.work{
  left:2em;
  top:2em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5em;
}
.project img{
width: 45em;  
height: 45em;
}

.contact{
  bottom: 0;
  top:15em;
  left:2em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}

.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


body{
    font-size: 10px;
  }
header h1{
font-size: 5em;  
padding: 1em;
margin-right: 0em;
}

nav{
  display: none;
}
.header-title{
  font-size: 3.6em;
  text-align: left;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-10em;
}
.about img{
  display: none
}
.about-content{
  left:6em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 700px;
}

.work{
  left:6em;
  top:4em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}
.project img{
width: 30em;  
height: 30em;
}

.contact{
  top:15em;
  left:6em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}

.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */

body{
    font-size: 20px;
  }
  header h1{
    font-size: 3em;
    margin-right: 25em;
  }


  nav{
  left:60em;
  top:12em;
  z-index: 100;
}
nav li{
   font-size: 3em;

}
.header-title{
  font-size: 5em;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-20em;
}
.about-content{
  left:10em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 25em;
}
.about img{
  margin-left: 1em;
}

.work{
  left:10em;
  top:4em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project img{
width: 32em;  
height: 32em;
}

.contact{
  position: absolute;
  bottom: 0;
  top:10em;
  left:8em;
}

.contact h1{
  font-size: 8em;
}
.contact li a{
  font-size: 4em;
  padding: 1em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 4em;
}


}


